body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #22343d;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* img {
  display: block;
  width: 100%;
  height: auto;
} */

.container {
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
/*------------HEADER------------*/
.header {
  max-width: 1110px;
  margin: 0 auto;
}

.header-container {
  display: flex;
}

.header-logo-picture {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.header-menu-list {
  display: flex;
  gap: 30px;
  margin-left: auto;
}

.header-btn-container {
  display: flex;
  gap: 30px;
  margin-left: 73px;
}

.header-in-btn:hover,
.header-in-btn:focus {
  background-color: #bcd0e5;
}

.header-up-btn:hover,
.header-up-btn:focus {
  background-color: #005c47;
}

.header-in-btn {
  cursor: pointer;
}

.header-up-btn {
  cursor: pointer;
}

.header-menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}
.header-logo-accent {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}
.header-in-btn {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  background: #fff;
  width: 105px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
}

.header-up-btn {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background: #02897a;
  width: 113px;
  height: 42px;
  border-radius: 4px;
  border: none;
}
/*------------HEADER------------*/

/*------------HERO------------*/

.hero {
  max-width: 1110px;
  margin: 0 auto;
  padding: 50px 0;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  max-width: 465px;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 18px;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #22343d;
  margin-bottom: 45px;
}

.hero-btn-container {
  display: flex;
  gap: 20px;
}

.hero-get-btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  width: 178px;
  height: 53px;
  background: #02897a;
  border: none;
  cursor: pointer;
}

.hero-watch-btn {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  color: #02897a;
  background: none;
  border: none;
  cursor: pointer;
}

.hero-img {
  max-width: 610px;
  height: auto;
}

/*------------HERO------------*/

/*------------product------------*/

.product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;

  max-width: 539px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.product-menu-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
}

.product-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  transition: transform 0.3s;
}

.product-menu-item:hover {
  transform: scale(1.05);
}

.product-img {
  margin-bottom: 15px;
}

.product-subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.product-text {
  font-size: 16px;
}

.product-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.product-btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin: 0 auto;
  width: 175px;
  height: 53px;
  padding: 15px 30px;
  background: #02897a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transform: background-color 0.3s;
}

.product-btn:hover {
  background-color: #005c47;
}
/*------------product------------*/

/*------------Management------------*/
.business {
  padding: 80px 0;
}

.business-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.business-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 84px;
}

.business-content {
  max-width: 468px;
}

/* Заголовки */
.section-intro {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}

.business-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}

.business-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 30px;
}

/* Стилізація списку */
.business-list-text {
  list-style: none;
  padding: 0;
  margin: 0;
}

.business-item-text {
  margin-bottom: 25px;
}

.business-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 12px;
}

.business-text-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}

.business-item img {
  max-width: 100%;
  height: auto;
}

.support-intro {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}

.support-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}

.support-text-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 30px;
}

.support-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.support-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.support-text-wrap {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  padding-left: 10px;
}

.collab-intro {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}

.collab-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}

.collab-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 30px;
}

.collab-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 12px;
}

.collab-subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 25px;
}
/*------------Management------------*/

/*------------Contents Strategies------------*/
.news-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.news-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 10px;
  margin-top: 100px;
}

.news-text {
  max-width: 465px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 40px;
}

.news-item {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 350px;
  height: 359px;
  background: #fff;
  border: 1px solid #d9e1e9;
  text-align: left;
  overflow: hidden;
  width: 350px;
}

.news-img {
  border-radius: 8px 8px 0 0;
  width: 350px;
  height: 185px;
  margin-bottom: 24px;
  justify-content: flex-start;
}

.news-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  align-self: flex-start;
  padding-left: 27px;
  margin-bottom: 12px;
}

.accent {
  font-weight: 700;
}

.news-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  color: #22343d;

  padding-left: 27px;
  max-width: 302px;
  text-align: left;
}

.title-accent {
  color: #02897a;
}

.news-section {
  margin-bottom: 171px;
}

/*------------Contents Strategies------------*/

/*------------Staff------------*/

.staff-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.staff-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-bottom: 25px;
}

.staff-container {
  max-width: 542px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.staff-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: #22343d;
}

.staff-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px 91px;
  justify-content: center;

  margin-bottom: 50px;
  list-style: none;
  padding: 0;

  margin-bottom: 50px;
}

.staff-item {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 408px;
  flex-basis: calc((100% - 24px) / 2);
}

.staff-img {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid transparent;
}

.staff-subtitle {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 16px 24px;
  color: #2f281e;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  white-space: nowrap;
  max-width: 281px;
}

.staff-btn {
  display: block;
  margin: 0 auto;
  padding: 14px 32px;
  background-color: #02897a;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.staff-btn:hover,
.staff-btn:focus {
  background: #404bbf;
}
